@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header .content {
      height: 400px;
    }

    .header h1 {
        font-size: 70px;
        margin-top: 350px;
        margin-bottom: 50px;
    }

    .more {
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-bottom: 300px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .menu {
        gap: 50px;
    }

    .about .title {
        margin-bottom: 20px;
    }

    .about .content {
        margin-top: 30px;
    }

    .collection {
        margin-top: 30px;
        margin-bottom: 80px;
    }

    .collection img {
        width: 100%;
    }

    .collection .title {
        margin-bottom: 30px;
    }

    .collection p {
        margin-bottom: 50px;
    }

    .collection .discover {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    

    .collection .block {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .collection .block2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        text-align: center;
    }

    .footer .nav {
        height: 130px;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header .content {
        height: 300px;
    }

    .menu {
        gap: 30px;
    }

    .nav .link {
        font-size: 17px;
    }

    .header h1 {
        font-size: 50px;
        margin-top: 290px;
    }

    .more {
        width: 120px;
        height: 50px;
        font-size: 14px;
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .nav .burger {
        display: flex;
    }

    .nav .menu {
        position: fixed;
        top: 0;
        left: -100%;
        background: rgba(20, 20, 20, 0.8);
        height: 100dvh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    .burger:focus ~ .menu {
        left: 0;
    }


}